* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    display: grid;
    height: 100%;
    place-items: center;
    background: linear-gradient(135deg, #ff416c, #ff4b2b);

}

.wrapper {
    width: 300px;
    height: 380px;
    position: relative;
    transform-style: preserve-3d;
}

.wrapper .card {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    transition: transform 0.8s cubic-bezier(0.4, 0.2, 0.3, 1);

}


.wrapper .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;

}

.wrapper .back-face img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 5px;
    background: linear-gradient(135deg, #ff416c, #ff4b2b);
 


}

.wrapper .back-face {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
      transform: rotateY(180deg);
  
}

.wrapper .back-face .info {
    text-align: center;
}

.back-face .info .titile {
    font-size: 30px;
    margin-bottom: 10px;
}

.back-face ul {
    display: flex;
    margin-top: 30px;
}

.back-face ul a {
    display: block;
    height: 40px;
    width: 40px;
    border: 2px solid transparent;
    line-height: 38px;
    border-radius: 50%;
    margin: 0 5px;
    background: linear-gradient(135deg, #ff416c, #ff4b2b);
    color: #fff;
}

.back-face ul a:hover {
    background: none;
    color: #ff416c;
    border-color: #ff416c;
}
.front-face {
    backface-visibility: hidden;
}

.back-face {
    backface-visibility: hidden;
}
.wrapper:hover .front-face {
    transform: rotateY(180deg);
}

.wrapper:hover .back-face {
    transform: rotateY(360deg);
}

